{
  'extends': 'airbnb',
  'rules': {
    'react/prefer-es6-class': [2, 'never'],
    'react/jsx-no-bind': [2, { 'ignoreRefs': true }],
    'no-floating-decimal': 0,
    'no-multiple-empty-lines': 0,
    'no-use-before-define': 0,
  },
  'globals': {
    '$': true,
  }
}

