name: project name
root: <%= Dir.pwd %>

windows:
  - editor:
      panes:
        - vim
  - automation:
      layout: 91de,272x58,0,0{136x58,0,0,4,135x58,137,0[135x29,137,0,5,135x28,137,30,6]}
      panes:
        -
        - npm start
        -
  - styleguide:
      root: <%= Dir.pwd %>/styleguide
      panes:
        -
        - npm run storybook
  - backend:
      panes:
        - docker-compose up
