name: project-name
root: <%= Dir.pwd %>

on_project_exit:
  - docker compose stop

windows:
  - editor:
      panes:
        - vim

  - automation:
      layout: main-vertical
      panes:
        -
        - npm run dev

  - styleguide:
      root: <%= Dir.pwd %>/styleguide
      layout: main-vertical
      panes:
        -
        - npm run storybook

  - backend:
      layout: main-vertical
      panes:
        - docker compose up
        -
