name: project name
root: <%= Dir.pwd %>

windows:
  - editor:
      panes:
        - vim
  - automation:
      layout: main-vertical
      panes:
        -
        - npm start
  - styleguide:
      root: <%= Dir.pwd %>/styleguide
      layout: main-vertical
      panes:
        -
        - npm run storybook
  - backend:
      layout: main-vertical
      panes:
        - docker-compose up
        -
