# begin docker / dev configs
MYSQL_DEV_HOST=0.0.0.0
MYSQL_DEV_NAME=db_name
MYSQL_DEV_PASS=password
MYSQL_DEV_ROOT_PASS=password
MYSQL_DEV_USER=user

APACHE_HOSTNAME=<%= props.devHostname %>.localhost
# end docker configs

PROD_SSH_USERNAME=
PROD_DOMAIN=<%= props.prodDomain %>

MYSQL_PROD_HOST=
MYSQL_PROD_NAME=
MYSQL_PROD_PASS=
MYSQL_PROD_USER=
